/*------------------------------------------------------------------------------*/
/*LOGIN*/
/*------------------------------------------------------------------------------*/
#loginDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginDiv_img{
    width: 200px;
}


.login{
    margin: 5px;
    width: 330px;
}

#loginDiv_button, #loginDiv_p{
    margin: 5px;
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}




/*------------------------------------------------------------------------------*/
/*SELECT*/
/*------------------------------------------------------------------------------*/
.containerHome{
    height: 100%;
    width: 100%;
    min-height: 460px;
    width: 100%;
    border: solid 2px red;
}

.containerHome_userSelected{
    height: 10%;
    width: 100%;
    min-height: 50px;
    border: solid 2px yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerHome_userSelected_explanation{
    font-size: 0.8em;
}

.containerHome_main{
    height: 90%;
    width: 100%;
    border: solid 2px yellow;
    display: flex;
}

/*containerHome_main_screen: parte del div generale con la schermata delle storie dell'utente*/
.containerHome_main_screen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}


/*SCHERMO GRANDE*/
@media only screen and (min-width: 900px) {

    .containerHome_main_screen{
        height: 100%;
        width: 80%;
        padding: 20px;
        border: solid 2px blue
    }
    
    .containerHome_main_buttons{
        height: 100%;
        width: 20%;
        min-height: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        border: solid 2px blue
    }

    .containerHome_main_buttons_button{
        min-height: 70px;
    }

    /*qrcode section*/
    .containerHome_main_qrcode{
        height: 100%;
        width: 20%;
        flex-direction: column;
    }
    #containerHome_main_qrcode_button{
        width: 220px;
        height: 50px;
    }
}

/*SCHERMO PICCOLO*/
@media only screen and (max-width: 900px) {

    .containerHome_main{
        flex-direction: column;
    }

    .containerHome_main_screen{
        order: 1;
        height: 80%;
        width: 100%;
        padding: 20px;
        border: solid 2px blue
    }
    
    .containerHome_main_buttons{
        order: 0;
        width: 100%;
        height: 20%;
        min-height: 80px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 2px blue
    }

    #containerHome_userSelected_explanation{
        display: none;
    }

    .containerHome_main_buttons_button{
        height: 50px;
        width: 100px;
    }

    /*qrcode section*/
    .containerHome_main_qrcode{
        width: 100%;
        height: 250px;
        flex-direction: row;
    }
    #containerHome_main_qrcode_button{
        width: 100px;
        height: 50px;
    }
}

#screenOfStorys{
    height: 100%;
    width: 100%;
    padding: 20px;
    border: solid 2px blue
}

#color{
    border: 5px solid rgb(226, 226, 226);
    outline: none
}


/*card all'interno di containerHome_main_screen*/
.card_selected{
    background-color: rgb(79, 239, 135);
}
.story_published{
    border: solid 8px green !important;
}
.card{
    height: 350px;
    width: 200px;
    margin: 15px;
    padding: 5px;
    border: solid 8px grey;
    border-radius: 10px;
}
.card:hover{
    cursor: pointer;
    background: cadetblue;
}
.card *{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card_title{
    height: 14%;
    width: 100%;
    border: solid 1px yellow;
}
.card_gender{
    height: 14%;
    width: 100%;
    border: solid 1px orange;
}
.card_info{
    height: 18%;
    width: 100%;
    border: solid 1px red;
}
.card_participant{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.card_accessibility{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.card_description{
    height: 54%;
    width: 100%;
    align-self: center;
    border: solid 1px purple;
}

/*qrcode section*/
.containerHome_main_qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px blue
}
#containerHome_main_qrcode_button{
    margin: 10px;
}
#containerHome_main_qrcode_section{
    margin: 10px;
    width: 220px;
    height: 220px;
    border: solid 2px black;
}





/*------------------------------------------------------------------------------*/
/*REALIZE*/
/*------------------------------------------------------------------------------*/
.containerHome_realize{
    height: 90%;
    width: 100%;
    display: flex;
}
.sx_realize{
    height: 100%;
    width: 65%;
    border: solid 2px yellow;

}
.dx_realize{
    height: 100%;
    width: 35%;
    border: solid 2px yellow;
}