/*------------------------------------------------------------------------------------------------------*/
/*LOGIN*/
/*------------------------------------------------------------------------------------------------------*/
#loginDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginDiv_img{
    width: 200px;
}


.login{
    margin: 5px;
    width: 330px;
}

#loginDiv_button, #loginDiv_p{
    margin: 5px;
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}


/*------------------------------------------------------------------------------------------------------*/
/*ALL*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome{
    height: 100%;
    width: 100%;
    min-height: 460px;
}
.containerHome_userSelected{
    height: 10%;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerHome_userSelected_explanation{
    font-size: 0.8em;
}





/*------------------------------------------------------------------------------------------------------*/
/*SELECT PARTE PRIVATA*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome_privateSelect{
    height: 90%;
    width: 100%;
    border: solid 2px yellow;
    display: flex;
}

.sx_privateSelect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

/*SCHERMO GRANDE SELECTION SECTION*/
@media only screen and (min-width: 931px) {
    .sx_privateSelect{
        height: 100%;
        width: 75%;
        padding: 20px;
        border: solid 2px blue
    }
    .dx_privateSelect{
        height: 100%;
        width: 25%;
        min-height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: solid 2px blue
    }
}

/*SCHERMO PICCOLO SELECTION SECTION*/
@media only screen and (max-width: 930px) {
    .containerHome_privateSelect{
        flex-direction: column;
    }
    .sx_privateSelect{
        order: 1;
        height: 85%;
        width: 100%;
        padding: 20px;
        border: solid 2px blue
    }  
    .dx_privateSelect{
        order: 0;
        width: 100%;
        height: 15%;
        min-height: 80px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 2px blue
    }
    #containerHome_userSelected_explanation{
        display: none;
    }
}





/*------------------------------------------------------------------------------------------------------*/
/*REALIZE*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome_realize{
    height: 90%;
    width: 100%;
    display: flex;
}
.sx_realize{
    height: 100%;
    width: 75%;
}
.sx_realize_top{
    height: 90%;
    width: 100%;
    overflow: scroll;
}
.sx_realize_bottom{
    height: 10%;
    width: 96.5%;
    display: flex;
    justify-content: space-around;
    overflow: scroll;
    padding-left: 5px;
    margin-left: 20px;
    border: solid 2px rgba(0, 0, 0, .2);
    border-radius: 15px;
}
.CreateHomeRealize_info, .CreateHomeRealize_player, .CreateHomeRealize_firstLastActivity, .CreateHomeRealize_activity{
    height: 100%;
    width: 100%;
}
.CreateHomeRealize_player{
    overflow: scroll;
}
.CreateHomeRealize_player p, .CreateHomeRealize_firstLastActivity p, .CreateHomeRealize_activity p{
    margin-top: 20px;
    text-align: center;
}

#arrayActivities{  /*barra con elenco delle storie*/
    height: 50px;
    width: 700px;
    align-self: center;
    border: solid 2px black;
}
.square{
    margin: 0px;
    height: 50px;
    width: 50px;
    border: solid 1px black;
}
#formInfo{
    height: 100%;
}
#description{
    height: 50px;
    width: 600px;
    resize: none;
}

/*REALIZE INFO*/
.sx_realize_option, .sx_realize_option_description{
    min-width: 700px;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px;
    padding-left: 40px;
    margin: 20px 8px 20px 8px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 2px rgba(87, 87, 87, 0.308);
}
.sx_realize_option_table{
    min-width: 700px;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 40px;
}
.sx_realize_option_age{
    min-width: 700px;
    padding: 5px;
    padding-left: 40px;
    margin: 20px 8px 20px 8px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 2px rgba(87, 87, 87, 0.308);
}
.sx_realize_option_message{
    min-width: 700px;
    display: flex;
}
.sx_realize_option_message_firstColumn, .sx_realize_option_message_secondColumn, .sx_realize_option_message_thirdColumn{
    margin-top: 8px;
    margin-bottom: 8px;
}
.sx_realize_option_message_firstColumn{
    width: 350px;
}
.sx_realize_option_message_secondColumn{
    width: 170px;
}
.sx_realize_option_message_thirdColumn{
    width: 120px;
    display: flex;
    flex-direction: column;
}
.sx_realize_option_message_thirdColumn > * {
    height: 33%;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(150, 150, 150, 0.767);
    border-radius: 15px;
}
.sx_realize_option_description{
    height: 130px;
}
#gender{
    margin: 0px;
}
#accessibility{
    margin-left: -16px;
}
#age{
    margin-left: 6px;
}
#participantsType_group, #participantsType_differentGroup{
    margin-left: 50px;
}
#sumbit_formInfo{
    height: 30px;
    width: 100px;
    margin-bottom: 15px;
    margin-left: 45%;
}

.sx_realize_option_player{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sx_realize_option_player label {
    margin-left: 30px;
}

/*SCHERMATA TELEFONO*/
@media only screen and (max-width: 1000px), (max-height: 600px)  {
    #phone{
        display: none;
    }
    #sx_realize{
        width: 100%;
    }
    #dx_realize{
        width: 0%;
        border: solid 1px rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0);
        box-shadow: 5px 5px 2px rgba(87, 87, 87, 0); 
    }

}
@media only screen and (min-width: 1001px) and (min-height: 600px)  {
    #phone{
        display: flex;
    }
}

#phone{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 226px;
    height: 458px;
    background: #fff;
    border-radius: 35px;
    border: solid 1px rgb(180, 180, 180);
}
#phoneInternal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 437px;
    background: black;
    border-radius: 25px;
    border: solid 1px rgb(180, 180, 180);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
}
#phone:after{
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    width: 108px;
    height: 13px;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#phoneImage{
    position: absolute;
    width: 20%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#phoneText, #phoneTextBackground{
    position: absolute;
    top: 80px;
    left: 15px;
    height: 160px;
    width: 170px;
}
#phoneText{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* ancient Opera */
    white-space: -o-pre-wrap; /* newer Opera */
    white-space: pre-wrap; /* Chrome; W3C standard */
    word-wrap: break-word; /* IE */
    overflow: scroll;
    border: solid 1px white;
    text-align: center;
}

#scoreDiv{
    color: white;
    position: absolute;
    background-color: black;
    border: solid 1px white;
    height: 20px;
    width: 100px;
    top: 15px;
    left: 50px;
    display : flex;
    align-items : center;
    justify-content: center;
    border-radius: 20px;
    font-size: 15px;
}

#textDiv{
    width: 100%;
    padding: 3px;
}
#mediaDiv{
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#chatButton{
    height: 30px;
    width: 60px;
    top: 40px;
    left: 125px;
}
#helpButton{
    height: 30px;
    width: 60px;
    top: 40px;
    left: 15px;
}

#nextButton{
    height: 30px;
    width: 170px;
    top: 390px;
    left: 15px;
}

#chatButton, #helpButton, #nextButton{
    position: absolute;
    background-color: black;
    color: white;
    border: solid 1px white;
    position: absolute;
    border-radius: 20px;
    display : flex;
    align-items : center;
    justify-content: center;
    font-size: 0.65em;
}


.blinkHelpButton{
    color: black !important;
    animation: mymove 0.4s;
    animation-iteration-count: infinite;
}

@keyframes mymove {
    from {background-color: yellow}
    to {background-color: white}
}

/*------------------------------------------------------------------------------------------------------*/
/*SELECT PARTE PUBBLICA*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome_publicSelect{
    height: 90%;
    width: 100%;
    border: solid 2px yellow;
    display: flex;
}
.sx_publicSelect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    border: solid 2px lightseagreen
}
.dx_publicSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px lightseagreen
}

/*SCHERMO GRANDE SELECT PARTE PUBBLICA*/
@media only screen and (min-width: 931px) {
    .sx_publicSelect{
        height: 100%;
        width: 75%;
        padding: 20px;
    }
    .dx_publicSelect{
        height: 100%;
        width: 25%;
        flex-direction: column;
    }
    #dx_publicSelect_button{
        margin: 20px;
        height: 50px;
        width: 210px;
    }
}
/*SCHERMO PICCOLO SELECT PARTE PUBBLICA*/
@media only screen and (max-width: 1000px) {
    .containerHome_publicSelect{
        flex-direction: column;
    }
    .sx_publicSelect{
        order: 1;
        height: 75%;
        width: 100%;
        padding: 20px;
    }
    .dx_publicSelect{
        order: 0;
        width: 100%;
        height: 250px;
        flex-direction: row;
    }
    #dx_publicSelect_button{
        margin: 20px;
        width: 100px;
        height: 50px;
    }
}
#qr-code{
    margin: 10px;
    width: 180px;
    height: 180px;
    border: solid 2px black;
}





/*------------------------------------------------------------------------------------------------------*/
/*CARD*/
/*------------------------------------------------------------------------------------------------------*/
.story_published{
    border: solid 6px rgb(4, 136, 11) !important;
    box-shadow: 10px 10px 5px  rgba(4, 136, 11, 0.6) !important;
}
.card{
    height: 320px;
    width: 200px;
    margin: 20px;
    font-size: 18px;
    border: solid 6px black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgba(87, 87, 87, 0.6);
    transition: transform .2s;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.3); 
}
.card_content *{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card_content > *{
    border-top: solid 1px rgb(141, 141, 141);
    border-bottom: solid 1px rgb(141, 141, 141);
}
.card_backrgound{
    opacity: 0.65;
}
.card_backrgound, .card_content{
    height: 100%;
    width: 100%;
    position: absolute;
}
.card_title{
    height: 10%;
    width: 100%;
    overflow: scroll;
    padding: 2px;
    border-top: 0px;
}
.card_gender{
    height: 10%;
    width: 100%;
    padding: 2px;
}
.card_objective{
    height: 16%;
    width: 100%;
    overflow: scroll;
    padding: 2px;
}
.card_info{
    height: 12%;
    width: 100%;
}
.card_participant{
    height: 100%;
    width: 50%;
}
.card_accessibility{
    height: 100%;
    width: 50%;
}
.card_accessibility *, .card_participant *{
    height: 100%;
    padding: 1%;
}
.card_age{
    height: 10%;
    width: 100%;
    padding: 2px;
}
.card_description{
    height: 42%;
    width: 100%;
    overflow: scroll;
    padding: 2px;
    padding-top: 8px;
    display: flex;
    align-items: flex-start;
    border-bottom: 0px;
}

#p_answerList {
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 40px;
    text-align: left;
}

#answerList {
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
}

#inputDiv{
    position: absolute;
    top: 320px;
    left: 15px;
    height: 60px;
    width: 170px;
    border: solid 1px red;
}

.hiddenClass{
    display: none !important;
}


div[id='Quattro opzioni div'], div[id='Scelta multipla div'], div[id='Vero o falso div'], div[id='Input testuale div'], div[id='Range div'], div[id='Foto div'] {
    height: 100%;
    width: 100%;
}

div[id='Scelta multipla div'], div[id='Vero o falso div'], div[id='Input testuale div'], div[id='Range div'], div[id='Foto div'] {
    display: flex;
    align-items: center;
    justify-content: center;
}

div[id='Range div']{
    flex-direction: column;
}

.style{
    background-color: black;
    color: white;
    border: solid 1px white;
    font-size: 10px;
    resize: none
}

.optionFourChoices{
    width: 50%; 
    height: 50%; 
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionTrueFalse{
    width: 50%; 
    height: 100%; 
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multOptions{
    width: 80%;
    align-self: center;
}

.spanExplain{
    display: block;
    text-align: center;
    color: grey;
    margin-bottom: 20px;
}

.grafo{
    height: 100%;
    width: 100%;
    border: solid 2px red;
}

#option8, div[id='Input testuale valutatore div'], #option9, div[id='Input testuale automatico div']{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#circleDiv{
    border: solid 1.5px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#qr-code{
    cursor: pointer;
}

.playerDivStyle > p{
    text-align: center;
}
#mynetwork{
    width: 96%;
    height: 92%;
    margin: 20px 20px 20px 20px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.025);
    box-shadow: 5px 5px 2px rgba(87, 87, 87, 0.308); 
}

.dx_realize{
    width: 25%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 1px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.025);
    box-shadow: 5px 5px 2px rgba(87, 87, 87, 0.308); 
}

.playerDivStyle{
    min-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 40px;
    margin: 20px 20px 20px 20px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.025);
    box-shadow: 5px 5px 2px rgba(87, 87, 87, 0.308);   
}

.playerDivStyleElement2{
    min-width: 700px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.playerDivStyleElement{
    min-width: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.opacityDiv{
    margin-right: 60px;
}