/*------------------------------------------------------------------------------------------------------*/
/*LOGIN*/
/*------------------------------------------------------------------------------------------------------*/
#loginDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginDiv_img{
    width: 200px;
}


.login{
    margin: 5px;
    width: 330px;
}

#loginDiv_button, #loginDiv_p{
    margin: 5px;
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}


/*------------------------------------------------------------------------------------------------------*/
/*ALL*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome{
    height: 100%;
    width: 100%;
    min-height: 460px;
    border: solid 2px red;
}
.containerHome_userSelected{
    height: 10%;
    width: 100%;
    min-height: 50px;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerHome_userSelected_explanation{
    font-size: 0.8em;
}





/*------------------------------------------------------------------------------------------------------*/
/*SELECT PARTE PRIVATA*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome_privateSelect{
    height: 90%;
    width: 100%;
    border: solid 2px yellow;
    display: flex;
}

.sx_privateSelect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

/*SCHERMO GRANDE SELECTION SECTION*/
@media only screen and (min-width: 931px) {
    .sx_privateSelect{
        height: 100%;
        width: 75%;
        padding: 20px;
        border: solid 2px blue
    }
    .dx_privateSelect{
        height: 100%;
        width: 25%;
        min-height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: solid 2px blue
    }
}

/*SCHERMO PICCOLO SELECTION SECTION*/
@media only screen and (max-width: 930px) {
    .MuiButton-endIcon{
        margin: 0px;
    }
    .containerHome_privateSelect{
        flex-direction: column;
    }
    .sx_privateSelect{
        order: 1;
        height: 85%;
        width: 100%;
        padding: 20px;
        border: solid 2px blue
    }  
    .dx_privateSelect{
        order: 0;
        width: 100%;
        height: 15%;
        min-height: 80px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 2px blue
    }
    #containerHome_userSelected_explanation{
        display: none;
    }
}





/*------------------------------------------------------------------------------------------------------*/
/*REALIZE*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome_realize{
    height: 90%;
    width: 100%;
    display: flex;
}
.sx_realize{
    height: 100%;
    width: 75%;
    border: solid 1px grey;
}
.sx_realize_top{
    height: 90%;
    width: 100%;
    overflow: scroll;
    border: solid 1px grey;
}
.sx_realize_bottom{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    border: solid 2px grey;
}
.CreateHomeRealize_info, .CreateHomeRealize_player, .CreateHomeRealize_activity{
    height: 100%;
    width: 100%;
}
.CreateHomeRealize_player{
    overflow: scroll;
}
.CreateHomeRealize_player p{
    margin-top: 20px;
    text-align: center;
}
#arrayActivities{  /*barra con elenco delle storie*/
    height: 50px;
    width: 700px;
    align-self: center;
    border: solid 2px black;
}
.square{
    margin: 0px;
    height: 50px;
    width: 50px;
    border: solid 1px black;
}
#formInfo{
    height: 100%;
}
#description{
    height: 50px;
    width: 600px;
    resize: none;
}

/*REALIZE INFO*/
.sx_realize_option, .sx_realize_option_description{
    min-width: 700px;
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 40px;
}
.sx_realize_option_age{
    min-width: 700px;
    height: 80px;
    padding-left: 40px;
    margin-top: 10px;
}
.sx_realize_option_description{
    margin-top: 6px;
    height: 130px;
}
#gender{
    margin: 0px;
}
#accessibility{
    margin-left: -16px;
}
#age{
    margin-left: 6px;
}
#participantsType_group, #participantsType_differentGroup{
    margin-left: 50px;
}
#sumbit_formInfo{
    height: 30px;
    width: 100px;
    margin-bottom: 15px;
    margin-left: 45%;
}

.sx_realize_option_player{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sx_realize_option_player *:not(label){
    margin-left: 30px;
}

/*SCHERMATA TELEFONO*/
@media only screen and (max-width: 930px), (max-height: 600px)  {
    #phone{
        display: none;
    }
    #sx_realize{
        width: 100%;
    }
    #dx_realize{
        width: 0%;
    }
}
@media only screen and (min-width: 930px) and (min-height: 600px)  {
    #phone{
        display: flex;
    }
}
.dx_realize{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
}
#phone{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 226px;
    height: 458px;
    background: #fff;
    border-radius: 35px;
    border: solid 1px rgb(180, 180, 180);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .2), 0 40px 100px rgba(0, 0, 0, .4);
}
#phoneInternal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 437px;
    background: black;
    border-radius: 25px;
    border: solid 1px rgb(180, 180, 180);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
}
#phone:after{
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    width: 108px;
    height: 13px;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#phoneImage{
    position: absolute;
    width: 260px;
    height: 437px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#phoneText{
    position: absolute;
    top: 80px;
    left: 15px;
    height: 200px;
    width: 170px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    overflow: hidden;
    border: solid 1px white;
}
#chatButton{
    position: absolute;
    background-color: black;
    color: white;
    border: solid 1px white;
    height: 30px;
    width: 60px;
    top: 30px;
    left: 125px;
    border-radius: 20px;
    text-align: center;
}
#helpButton{
    position: absolute;
    background-color: black;
    color: white;
    border: solid 1px white;
    height: 30px;
    width: 60px;
    top: 30px;
    left: 15px;
    border-radius: 20px;
    text-align: center;
}






/*------------------------------------------------------------------------------------------------------*/
/*SELECT PARTE PUBBLICA*/
/*------------------------------------------------------------------------------------------------------*/
.containerHome_publicSelect{
    height: 90%;
    width: 100%;
    border: solid 2px yellow;
    display: flex;
}
.sx_publicSelect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    border: solid 2px lightseagreen
}
.dx_publicSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px lightseagreen
}

/*SCHERMO GRANDE SELECT PARTE PUBBLICA*/
@media only screen and (min-width: 931px) {
    .sx_publicSelect{
        height: 100%;
        width: 75%;
        padding: 20px;
    }
    .dx_publicSelect{
        height: 100%;
        width: 25%;
        flex-direction: column;
    }
    #dx_publicSelect_button{
        margin: 20px;
        height: 50px;
        width: 210px;
    }
}
/*SCHERMO PICCOLO SELECT PARTE PUBBLICA*/
@media only screen and (max-width: 1000px) {
    .containerHome_publicSelect{
        flex-direction: column;
    }
    .sx_publicSelect{
        order: 1;
        height: 75%;
        width: 100%;
        padding: 20px;
    }
    .dx_publicSelect{
        order: 0;
        width: 100%;
        height: 250px;
        flex-direction: row;
    }
    #dx_publicSelect_button{
        margin: 20px;
        width: 100px;
        height: 50px;
    }
}
#dx_publicSelect_qrcodeSection{
    margin: 10px;
    width: 210px;
    height: 210px;
    border: solid 2px black;
}





/*------------------------------------------------------------------------------------------------------*/
/*CARD*/
/*------------------------------------------------------------------------------------------------------*/
.card_selected{
    background-color: rgb(79, 239, 135);
}
.story_published{
    border: solid 8px green !important;
}
.card{
    height: 400px;
    width: 200px;
    margin: 20px;
    padding: 5px;
    border: solid 8px grey;
    border-radius: 10px;
}
.card:hover{
    cursor: pointer;
    background: cadetblue;
}
.card *{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card_title{
    height: 10%;
    width: 100%;
    border: solid 1px yellow;
}
.card_gender{
    height: 10%;
    width: 100%;
    border: solid 1px orange;
}
.card_objective{
    height: 10%;
    width: 100%;
    border: solid 1px orange;
}
.card_info{
    height: 18%;
    width: 100%;
    border: solid 1px red;
}
.card_participant{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.card_accessibility{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.card_description{
    height: 52%;
    width: 100%;
    padding-top: 5px;
    align-self: center;
    border: solid 1px purple;
    word-break: break-all
}


/*BOHHHHHH*/
/*
#screenOfStorys{
    height: 100%;
    width: 100%;
    padding: 20px;
    border: solid 2px blue
}

#color{
    border: 5px solid rgb(226, 226, 226);
    outline: none
}*/
















.cardImg{
    height: 50px;
}




















