* {
    box-sizing: border-box;
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 600px;
  overflow-x: scroll;
  padding: 0px;
  font-size: 18px;
  scroll-behavior: smooth;
}::-webkit-scrollbar {
  display: none;
  width: 0px; 
  height: 0px;
}

#root{
    height: 100%;
    width: 100%;
}

a {
    border: solid 2px blue;
}

.myheader{
    height: 10%;
    min-height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px green;
}

main{
    height: 90%;
    min-height: 460px;
    width: 100%;
}

nav {
    height: 100%;
    width: 100%;
    min-height: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border: solid 2px green;
}

.homeBlock{
    color: black;
    display: flex;
    position: relative;
    text-decoration: none;
    border-radius: 20px;
    overflow: scroll;
}
.homeBlock h1 {
    text-align: center;
}

.homeBlock:hover{
    background: cadetblue;
}

.homeBlock > *{
    margin: 5px;
}

/*SCHERMO GRANDE*/
@media only screen and (min-width: 800px) {
    .homeBlock{
        height: 80%;
        min-height: 300px;
        width: 30%;
        justify-content: center;  
    }
    .homeBlock > h1{
        position: absolute; 
        top: 10%;
    }
    .homeBlock > p{
        position: absolute;
        text-align: center;
        top: 30%;
    }
    .homeBlock > img{
        position: absolute;
        height: 100px;
        bottom: 15px;
    }
}

/*SCHERMO PICCOLO*/
@media only screen and (max-width: 800px) {
    .homeBlock{
        align-items: center;
        height: 30%;
        min-height: 120px;
        width: 80%;
    }
    .homeBlock > h1{
        position: absolute; 
        top: 5px;
        left: 10px;
    }
    .homeBlock > p{
        width: 65%;
        position: absolute;
        top: 50px;
        left: 10px;
    }
    .homeBlock > img{
        position: absolute;
        height: 70px;
        bottom: 15px;
        right: 5%;
    }
}